<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      <!-- Blocks may include default content. -->
      {{ .Site.Title }}
    {{ end }}</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    {{ block "header" . }}
      <!-- Code that all your templates share, like a header -->
    {{ end }}
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ block "footer" . }}
    <p>Copyright Hyper-Expanse</p>
    <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
    {{ end }}
  </body>
</html>
