body {
  background-color: black;
  color: white;
}

#splash {
  background-image: url('/images/logo.svg');
  background-position: center;
  background-size: 25% 25%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
}

#profile {
  margin-top:10%;
  width: 600px;
}

#profile img {
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

#profile .profile_links {
  clear: both;
  margin-top: 50px;
}

#profile .detail {
  margin-top: 50px;
}
