a {
	text-decoration: none;
}

.align-top {
	vertical-align: top !important
}

.navbar {
	font-size: 1.25rem;
}

.navbar a,
.navbar a:hover,
.navbar a:focus {
	color: white;
}

.navbar-brand {
	color: white;
	font-weight: bold;
}

#content {
	margin: auto;
	max-width: 600px
}

#splash {
  background-image: url('/images/logo.min.svg');
  background-position: center;
  background-size: 25% 25%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
}

#profile {
	text-align: center;
}

#profile img {
  border-radius: 50%;
}
