{{ define "main" }}

{{ $url := print "images/" $.Params.picture }}
{{ $profile := resources.Get $url | resources.Fingerprint }}

<section id="profile">
	<img src="{{ $profile.Permalink }}" alt="Profile picture of {{ .Title }}" width="150" height="150">

	<h1>{{ .Params.title }}</h1>

	<p>{{ .Params.bio | markdownify }}</p>

	<p>
		{{ if .Params.gitlab }}<a href="https://gitlab.com/{{ .Params.gitlab }}"><button class="info">gitlab</button></a>{{ end }}
		{{ if .Params.github }}<a href="https://github.com/{{ .Params.github }}"><button class="info">github</button></a>{{ end }}
		{{ if .Params.npm }}<a href="https://www.npmjs.com/~{{ .Params.npm }}"><button class="info">npm</button></a>{{ end }}
		{{ if .Params.pypi }}<a href="https://pypi.org/user/{{ .Params.pypi }}"><button class="info">pypi</button></a>{{ end }}
		{{ if .Params.bintray }}<a href="https://bintray.com/{{ .Params.bintray }}"><button class="info">bintray</button></a>{{ end }}
		{{ if .Params.linkedin }}<a href="https://www.linkedin.com/in/{{ .Params.linkedin }}"><button class="info">linkedin</button></a>{{ end }}
		{{ if .Params.opencollective }}<a href="https://opencollective.com/{{ .Params.opencollective }}"><button class="info">open collective</button></a>{{ end }}
		{{ if .Params.liberapay }}<a href="https://liberapay.com/{{ .Params.liberapay }}"><button class="info">liberapay</button></a>{{ end }}
	</p>
</section>

<section>
	<h2>Projects</h2>
	{{ range .Params.projects }}
	<section>
		<header>
		  <h3>{{ .title }}</h3>
		</header>
	  <p>{{ .description | markdownify }}</p>
		<footer>
			<a href="{{ .repository }}"><button class="info">View Repository</button></a>
		</footer>
	</section>
	{{ end }}
</section>

<section>
	<h2>Publications</h2>
	{{ range .Params.publications }}
	<section>
		<header>
	    <h3>{{ .title }}</h3>
	    <p class="subtitle">{{ .subtitle }}</p>
		</header>
	  <p>{{ .description | markdownify }}</p>
		<footer>
		  <a href="{{ .shop }}"><button class="info">Buy</button></a>
		</footer>
	</section>
	{{ end }}
</section>

<section>
	<h2>Guides</h2>
	<ul>
	  {{ range where (where .Site.Pages "Type" "guide") "Draft" false }}
		<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
	  {{ end }}
	</ul>
</section>

<p>{{ .Content }}</p>

{{ end }}
